<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
      
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

</head>
<body class="grey lighten-3">

	<h1 class="main-title center" >Bem vindo ao Sistema Escolalura</h1>
	
	<div class="row center">
		<a href="aluno/cadastrar">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons ">perm_identity </i>
					<div class="truncate">Cadastrar Alunos</div>
				</div>
			</div>
		</a>
		<a href="/aluno/listar">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons ">search </i>
					<div class="truncate">Pesquisas</div>
				</div>
			</div>
		</a>
		<a href="/aluno/pesquisarnome">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons ">search </i>
					<div class="truncate">Pesquisar por Nome</div>
				</div>
			</div>
		</a>
		<a href="/nota/iniciarpesquisa">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons ">search </i>
					<div class="truncate">Pesquisar por Nota</div>
				</div>
			</div>
		</a>
		<a href="/geolocalizacao/iniciarpesquisa">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons ">my_location </i>
					<div class="truncate">Pesquisar por Geolocalizacao</div>
				</div>
			</div>
		</a>
	</div>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>